/* styles.css */
.dropdown {
    width: 40%;
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #FFFFFf;
    border-radius: 0%;
    
  }
  
  .dropdown-menu {
    position: relative;
    left:0%;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .li {
    position: relative;
    left: 10%;
    width:80%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .li:hover {
    cursor:pointer;
    border-width: 10px;
    border-color: aqua;
    border-left-color: blue;
    border-left-width: 4px;
    background-color: gray;
    
  }
  